.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chunked-text {
  white-space: pre-wrap; /* Keeps whitespace and newlines */
  font-family: monospace;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

textarea {
  margin: 20px;
  width: 50%
}

.overlap {
  background-color: #90a955; /* or any other color you choose for overlaps */
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .slider-container {
    flex-direction: column;
  }

  .chunked-text {
    width: 80%;
  }

  textarea {
    margin: 20px;
    width: 80%
  }
}